
.formComm {
    display: flex;
    flex-direction: row;
    margin-top: 1%;
}

.post {
    display: flex;
    flex-direction: column;
}

.post-head {
    display: flex;
    flex-direction: row;
    height: 17vh;
    width: 100%;
    font-weight: bold;
    justify-content: center;
    align-items: center;
    border-bottom: 1px solid lightgray;
    box-shadow: 1px 5px 10px #5f9ea085;


}


.avatar {
    border: 5px solid white;
    box-shadow: 0 0 8px rgba(0, 0, 0, .4);
    -moz-box-shadow: 0 0 8px rgba(0, 0, 0, .4);
    -webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .4);
    border-radius: 5px;


}

.post-head__avatar {

    //    min-width: 10%;
    height: 90%;
    margin: 1rem 1rem;

    img {
        height: 100%;
        width: 100%;
    }
}



.post-head__description {
    margin-right: 1rem;

    p {
        margin: 0.5rem 0;
    }

    span {
        color: rgb(143, 143, 143);
    }
}

.post-full-description {
    display: flex;
    flex-direction: column;
    min-height: 40vh;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-start;
    align-items: left;


    .post-full-description__type,
    .post-full-description__skills,
    .post-full-description__location,
    .post-full-description__workhours {
        margin: 1rem 0.5rem;
    }

    span {
        font-weight: bold;
    }

    .post-full-description__description p {
        margin: 0rem 0.5rem;
    }

    .post-full-description__description p:first-of-type {
        font-weight: bold;


    }

    .post-full-description__description {
        margin-top: 1rem;
        margin-bottom: 1rem;
    }

}

.comments {

    display: flex;
    flex-direction: column;
    height: 40vh;
    width: 90%;
    margin: 0 auto;
    justify-content: flex-start;

    input {

        width: 200px;
        box-sizing: border-box;
        border: 2px solid #ccc;
        border-radius: 4px;
        font-size: 16px;
        background-color: white;
        background-position: 10px 10px;
        background-repeat: no-repeat;
        padding: 12px 20px 12px 40px;
        transition: width 0.4s ease-in-out;
    }

    input:focus {
        width: 90%;
    }

    h2 {
        margin-bottom: 1rem;
    }


}

.submit-button {
    display: inline-block;
    width: 10%;
}

.glow-on-hover {
    width: 100%;
    height: 46px;
    margin: 0 5px;
    border: none;
    outline: none;
    color: #fff;
    background: #111;
    cursor: pointer;
    position: relative;
    z-index: 0;
    border-radius: 10px;
}

.glow-on-hover:before {
    content: '';
    background: linear-gradient(45deg, #ff0000, #ff7300, #fffb00, #48ff00, #00ffd5, #002bff, #7a00ff, #ff00c8, #ff0000);
    position: absolute;
    top: -2px;
    left: -2px;
    background-size: 400%;
    z-index: -1;
    filter: blur(5px);
    width: calc(100% + 4px);
    height: calc(100% + 4px);
    animation: glowing 20s linear infinite;
    opacity: 0;
    transition: opacity .3s ease-in-out;
    border-radius: 10px;
}

.glow-on-hover:active {
    color: #000
}

.glow-on-hover:active:after {
    background: transparent;
}

.glow-on-hover:hover:before {
    opacity: 1;
}

.glow-on-hover:after {
    z-index: -1;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    background: #111;
    left: 0;
    top: 0;
    border-radius: 10px;
}

@keyframes glowing {
    0% {
        background-position: 0 0;
    }

    50% {
        background-position: 400% 0;
    }

    100% {
        background-position: 0 0;
    }
}

@media (max-width:768px) {
    .post-head {
        flex-direction: column;
        height: 32vh;
        justify-content: center;
        align-items: center;


    }

    .post-head__avatar {
        margin-top: 1rem;
        height: 100%;
        width: 30%;


    }

    .post-head__description {
        margin: 0;
        margin-bottom: 1rem;
    }

    .post-full-description {
        min-height: 70vh;
    }

    .glow-on-hover {
        width: 50%;
        margin: 1rem auto;
    }

    .submit-button {
        width: 100%;
    }

    .comments input {
        width: 50%;
    }

    .comments input:focus {
        width: 100%;
    }
}